/*THIS CSS CAN ONLY AFFECT FOOTERS - CHANGES NEEDED TO .CONTAINER OR SO ON ARE TO BE SENT TO STYLE*/

footer {
    background-color: beige;
}

/* Remove margin and padding from the footer element */
footer {
    margin: 0;
    margin-top: 20px;
    padding: 0;
}

/* Remove margin and padding from the ul element within the footer */
footer ul {
    margin: 0;
    padding: 0;
}

