.post-row{
    font-size:larger;
}

.post {
    cursor: pointer;
}

.post:hover {
    background-color: #f0f1f1
    
}


.tag {
    display: inline-block;
    padding: 4px;
    color:white;
}

.postSection{
    margin-right: 20px;
}

.like-comment div{
    background-color: #eaedef;
    margin-right:14px;
}
.like-comment div:hover{
    background-color: #e1e3e3;
}
.like-comment {
    margin-left:4px;
}
.user-data img{
    height: 50px;
    width: 50px;
    
}

.header-community{
    margin-left:14px;
}

.circular-container {
    border-radius:20px;
}
sidebarSection {
    overflow: hidden;
}
sidebarSection p {
    margin-left:14px;
}

.banner-image {
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 0; /* Remove any padding */
    margin: 0; /* Remove any margin */
}

.banner-image img {
    object-fit: cover;
    width: 100%;
    padding: 0; /* Remove any padding */
    margin: 0; /* Remove any margin */
}

.online-count {
    margin: 0;
    padding: 0;
}

.sidebar-spacing {
    margin-left:24px;
}
.online-count-num{
    font-size: larger;
}
.online-count-text{
    font-size: small;
}
.fa-circle {
    font-size: smaller;
    color: #55bd46;
}