/*THIS CSS CAN ONLY AFFECT HEADERS - CHANGES NEEDED TO .CONTAINER OR SO ON ARE TO BE SENT TO STYLE*/

.navbar{
    background-color: #F5F5F5;
    /*previous bg-color: background-color:darkblue!important;*/
    
    padding: 10px 0; /* Bigger height */
}

.navbar-nav {
    margin-left: auto; /*Allows elements to divide left and right*/
}

#navbarDimensions{
    padding: 0 3%; /*Padding between both right and left of navbar*/
}

