.card img {
    height:200px;
    padding-top:20px;
    width: auto;
    object-fit: cover;
}

/*Organize text inside cards*/
.streak-card {
    font-size : 25px;
}

.fa-fire {
    color: red;
}

.streak-display {
    text-align: right;
}

/*Since <a> couldnt be used for the cards, this css alows the mouse to turn into a pointer when over card*/
.card {
    cursor: pointer;
}