.rounded-circle-container {
    width: 200px;
    height: 200px;
    overflow: hidden;
    /* Hide any part of the image that exceeds the container size */
    border-radius: 50%;
    /* Create a circular container */
}

.rounded-circle-container img {
    width: 100%;
    /* Make the image fill the container width */
    height: 100%;
    /* Make the image fill the container height */
    object-fit: cover;
    /* Maintain the aspect ratio and cover the entire container */
}

img {
    max-width: 200px;
    max-height: 200px;
}

/*general containers (box for the whole container and field for the spaced one inside*/
.profileField {
    padding: 75px;

}

.profileBox {
    background-color: #FAFAFA;
}

.fa-fire {
    color: red;
}

.streak {
    text-align: end;
    font-size: larger;
    padding-right: 4%;
}

/*profile dets*/
.profilePicture {
    margin-left: 10%;
}

.small-header {
    font-size: larger;
}

.sidebar {
    margin-left: 20px;
}

.profileDetailsSection {
    background-color: white;
}

/*Sidebar page interaction*/

.pageOff {
    color: #999;
    cursor: pointer;
    /* Change cursor to pointer on hover (optional) */
}

.pageOff:hover {
    color: grey;
    /* Change color on hover (optional) */
}