body{
    background-image:linear-gradient(to right, white, blue);
}


#welcomePart{
    margin: 5%;
}

#botaoLogar{
    text-align: end ;
}

#welcomePart > h2{
    text-align: center;
}

#botoes{
    margin-top: 5%;
}

#quote{
    justify-content: center;
    text-align: center;
    margin: 5%;
}

@media (max-width: 767px) {
    body{
        margin: 0!important;
        padding: 3%;
    }
    #quote1 {
        margin-bottom: 10%; 
    }
    #quote2 {
        margin-bottom: 5%; 
    }
}