* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Raleway, sans-serif;
}

body {
    background: linear-gradient(90deg, #71dd71, #587a68);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.screen {
    background: linear-gradient(90deg, #54a454, #78b8b3);
    position: relative;
    height: 600px;
    width: 360px;
    box-shadow: 0px 0px 24px #56965e;
}

.screen__content {
    z-index: 1;
    position: relative;
    height: 100%;
}

.screen__background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
}

.screen__background__shape {
    transform: rotate(45deg);
    position: absolute;
}

.row {
    text-align: center;
    color: white;
}

.cadastro {
    width: 320px;
    padding: 30px;
    padding-top: 156px;
}

.cadastro_text {
    text-align: center;
    margin-top: -80px;
    position: relative;
    z-index: 2;
    color: white;
}

.cadastro__field {
    padding: 20px 0px;
    position: relative;
}

.cadastro__icon {
    position: absolute;
    top: 30px;
    color: #7875B5;
}

.cadastro__input {
    border: none;
    border-bottom: 2px solid #d1d4d1;
    background: none;
    padding: 10px;
    padding-left: 24px;
    font-weight: 700;
    width: 75%;
    transition: .2s;
}

.cadastro__input::placeholder {
    color: white;
    opacity: 1;
}

.cadastro__icon {
    color: white;
    opacity: 1;
}

.cadastro__input:active,
.cadastro__input:focus,
.cadastro__input:hover {
    outline: none;
    border-bottom-color: #6A679E;
}

.cadastro__submit {
    background: #fff;
    font-size: 14px;
    margin-top: 30px;
    padding: 16px 20px;
    border-radius: 26px;
    border: 1px solid #D4D3E8;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    align-items: center;
    width: 100%;
    color: #4C489D;
    box-shadow: 0px 2px 2px #5C5696;
    cursor: pointer;
    transition: .2s;
}

.cadastro__submit:active,
.cadastro__submit:focus,
.cadastro__submit:hover {
    border-color: #6A679E;
    outline: none;
}

.button__icon {
    font-size: 24px;
    margin-left: auto;
    color: #7875B5;
}

.betButtons {
    margin-top: 15px;
    color: white
}


.site-header {
    background: #f5f5dc;
    width: 100%;
    /* Largura total da faixa */
    padding: 10px 0;
    /* Espaçamento superior e inferior para a faixa */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Sombra opcional para dar um efeito elevado */
    text-align: center;
    /* Alinha o conteúdo ao centro */
}

.site-logo {
    height: 100px;

}