
#cardForum{
    margin-top: 5%;

}
.offcanvas-body li{
    text-align: center;

}

/*Faz a transição de cores do Offcanvas quando o mouse passa por cima*/
.offcanvas-body .list-group-item:hover {
    background-color: #f0f0f0; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s, box-shadow 0.3s; 
}


/*Faz a transição de cores do Offcanvas quando o mouse passa por cima */
.navbar-nav .nav-item:hover {
    background-color: beige; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: background-color 0.5s, box-shadow 0.5s;
}



/*CSS PROS CARDS DA TELA INICIAL*/

.card img {
    padding-top:20px;
}

/*Organize text inside cards*/
.streak-card {
    font-size : 25px;
}

.fa-fire {
    color: red;
}

.streak-display {
    text-align: right;
}

/*Since <a> couldnt be used for the cards, this css alows the mouse to turn into a pointer when over card*/
.card {
    cursor: pointer;
}