.card {
    background-color: #f0f0f0; 
    color: black; 
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}


.form-control {
    background-color: #fff; 
    color: #000; 
    border-radius: 5px;
}

#welcomePart{
    margin: 5%;
}

#botao-logar{
    text-align: end ;
}

#welcomePart > h2{
    text-align: center;
}

#botoes{
    margin-top: 5%;
}

#quote{
    justify-content: center;
    text-align: center;
    margin: 5%;
}



@media (max-width: 767px) {
    #quote1 {
        margin-bottom: 10%; 
    }
    #quote2 {
        margin-bottom: 5%; 
    }
}